뉴스기사 입력 화면 <br>

<form action="/add_commit">
    제목 <input type="text" name="title"><br>
    이미지 <input type="text" name="img"><br>
    내용 <textarea rows="10" cols="40" name="content"></textarea><br>
    <input type="submit" value="저장"/>
</form>