<h1>게시물 읽기 - {{news.id}}</h1>

<h2>제목 : {{news.title}}</h2>

<img src={{news.img}}><br>
기사 내용 <br>
{{news.content}} <br>

<a href="del_commit?id={{news.id}}">삭제</a>
<a href="update?id={{news.id}}">수정</a>
<a href="/">홈으로</a>
